[Unit]
Description=Create initial homed user
After=systemd-homed.service
Requires=systemd-homed.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "NEWPASSWORD='ACCOUNT_PASSWORD' homectl create USERNAME --storage=directory --group=USERNAME --member-of=wheel --shell=/bin/bash --real-name='FULL_NAME'"
ExecStartPost=/usr/bin/rm /etc/systemd/system/firstboot-homed.service
ExecStartPost=/usr/bin/systemctl disable firstboot-homed.service

[Install]
WantedBy=multi-user.target
